*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/TPO-CaC-La-Pythoneta/Image/fondologin.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.contenido .box{
    background-color: rgb(41, 41, 41);
    border-color: black;
    border: 1px solid rgb(79, 78, 78);
    padding: 40px 50px;
    border-radius: 15px;
}

.logo{
    width: 80px;
    height: 90px;
}

.formulario{
    min-height: 100vh;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.contenido{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.contenido h1{
    font-size: 35px;
    text-align: center;
    line-height: 1.2;
    color: rgb(251, 251, 252);
    font-weight: 700;
}

.contenido form{
    margin: 25px 0 20px;
}

.contenido .usuario{
    margin: 25px;
}

.contenido .contraseña{
    margin: 25px;
}

.contenido text{
    color: inherit;
    opacity: 1;
}

.contenido .password{
    color: inherit;
    opacity: 1;
}

.contenido .control{
    display: block;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: whitesmoke;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.contenido .control:focus{
    outline: none;
}

.contenido .link{
    margin-top: 10px;
    text-align: right;
}

.contenido .boton{
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: aliceblue;
    border: none;
    position: relative;
    color: rgb(32, 32, 32);
    overflow: hidden;
    z-index: 1;
}

.contenido .boton::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 1s ease;
    z-index: -1;
}

.contenido .boton:hover::before{
    background-color: rgb(115, 185, 250);
    border-radius: 25px;
}

.contenido p{
    text-align: center;
    color: aliceblue;
}

a{
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
}

.recordar{
    background: linear-gradient(to right, lightskyblue, white, lightskyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}