*{
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Style the body * CAMBIAR LA FUENTE*/
body {
    font-family: Arial, sans-serif !important;
    margin:0;
    padding:0;
    background-color: #ffffff;
}

/*Contenedor donde se encuentra la imagen del header*/
.header{

    border: rgb(255, 255, 255) solid 5px;
    }

/* Imagen Banner de Argentina Campeon */
.header img {
    width: 100%;
    height: auto;
    max-width: none; 
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Ocultar el botón del menú en pantallas grandes */
  .nav-toggle {
    display: none;
    background: none;
    border: none;
  }
  
  /* Estilos para la lista del menú en pantallas grandes */
  .ClassUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Estilos para los elementos del menú en pantallas grandes */
  .ClassLi {
    float: left;
    margin-left: 15%;
  }
  
  /* Estilos para los enlaces del menú en pantallas grandes */
  .ClassA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .ClassA:hover {
    background-color: #111;
  }
  

/*Estilo donde se encuentra 1. Quieres vestir como un campeon 2. Slider 3.Realiza tu compra*/

.main { /*Div completo*/
    flex: 70%;
    background-color: white;
    padding: 20px;
    justify-content: center
}



.main-h1{ /*Titulos*/
    display: flex;
    background-color: #bb9f00;
    width: 100%;
    justify-content: center;
    align-self: center;
       
}



.side {
    flex: 30%;
    background-color: #e9e1e1;
    padding: 10px;
}

/*Todo sobre el Slider*/
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 20px;
    width: 600%;
    animation: cambio 50s infinite alternate-reverse linear both;
}


.slider li {
    display: flex;
 width: 600px;
    list-style: none;
    height:500px;
    
    
}

.slider img {
    width: 100%;
    height: auto;

}

@keyframes cambio {
    0% {
        margin-left: 0;
    }


    22% {
        margin-left: -100%;
    }



    44% {
        margin-left: -200%;
    }
    

    66% {
        margin-left: -300%;
    }

}



/* Contenedor donde se encuentran las tarjetas de productos*/


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;

}
.product-card {
    width: 27vw;
    height: 80vh;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: black solid;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    margin-top: 20px;
    width: 95%;
    height: 70%;
    padding: 10px;
    align-items: center;

}

.product-description {
    padding: 0px;
    font-size: 1rem;
    color: #333;
    flex-grow: 2;
    border: gray solid;
    width: 95%;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.product-price {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.add-to-cart {
    background-color: #0a83a1c0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #40dafcc0;
    color: black;
}



/* Footer */

.footer {
    padding: 10px 20px 10px ;
    text-align: center;
    background:black;
    color:#efa938 ;
}

.red-social{
color: #f5f1f1;
background-color:rgb(10, 10, 10) ;
position: relative;
text-align: center;
padding-bottom: 50px;
}

.red-social a:hover {
    color: rgb(235, 93, 93);
}


.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    transition: all 300ms ease;
}











/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column; /*Cambio de horizontal a vertical en ambas clases*/
    }
}